.page {
  min-height: 100vh;
  margin: 0;
  color: var(--color-text-base);
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size-base);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
}

.header__block-logo {
  margin-left: 32px;
}

.header__logo {
  display: block;
  width: 220px;
  height: 19px;
}

.header__block-menu {
  display: flex;
  align-items: center;
  gap: 31px;
  padding: 2px 0;
}

.header__menu {
  display: flex;
  gap: 32px;
  padding-left: 16px;
  list-style: none;
}

.header__menu-item-link {
  color: var(--accent-color-text);
  font-size: 15px;
  line-height: 24px;
}

.button {
  border: none;
  padding: 11px 20px;
  background-color: transparent;
  cursor: pointer;
}

.header__menu-button {
  border-radius: 14px;
  background-color: var(--accent-color-text);
}

.header__menu-button-text {
  color: #fff;
}

.button-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.content__greeting {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--beige);
}

.greeting__block-information {
  margin: 77px 60px;
  padding: 60px 0 40px 40px;
}

.subtitle {
  font-weight: var(--font-weight);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.greeting__subtitle {
  margin-bottom: 20px;
}

.greeting__title {
  margin-bottom: 18px;
  color: var(--accent-color-text);
  font-weight: var(--font-weight);
  font-size: 64px;
  line-height: 70.4px;
}

.greeting__description {
  margin-bottom: 30px;
  padding-right: 51px;
  color: var(--accent-color);
  line-height: 24px;
}

.greeting__button {
  margin-left: 5px;
}

.greeting__button-text {
  color: var(--accent-color-text);
}

.greeting__block-image {
  max-width: 720px;
  max-height: 720px;
}

.content__our-firm {
  display: flex;
  justify-content: space-between;
  padding: 100px 336px;
}

.title-two {
  font-weight: var(--font-weight);
  font-size: 32px;
  line-height: 38px;
}

.our-firm__title {
  color: var(--accent-color);
}

.our-firm__block-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 4px 0 20px;
}

.our-firm__description {
  max-width: 493px;
  padding-right: 8px;
  color: var(--accent-color);
  line-height: 24px;
}

.our-firm__user-profile {
  display: flex;
  align-items: center;
  min-height: 100px;
}

.user-profile__block-image {
  width: 84px;
  height: 84px;
  margin: 8px 0;
  border: 3px solid var(--dark-beige);
  border-radius: 50%;
  overflow: hidden;
}

.user-profile__image {
  object-fit: cover;
  object-position: center;
}

.user-profile__name {
  color: var(--accent-color-text);
  font-size: 17px;
  line-height: 26px;
}

.user-profile__block-information {
  margin-left: 30px;
}

.user-profile__job {
  font-size: 14px;
  line-height: 14px;
}

.content__frame {
  display: flex;
  padding: 266px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content__reeding-house {
  justify-content: end;
  background-image: url('../image/reeding-house.jpg');
}

.frame__block-information {
  max-width: 300px;
}

.frame__title {
  color: var(--accent-color);
}

.frame__description {
  padding-right: 15px;
  line-height: 24px;
}

.content__our-process {
  padding: 100px 120px;
}

.our-process__block-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-process__subtitle {
  margin-bottom: 13px;
}

.title-one {
  color: var(--accent-color-text);
  font-weight: var(--font-weight);
  font-size: 39px;
  line-height: 42px;
}

.our-process__title {
  margin-bottom: 47px;
}

.our-process__list-tasks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 16px;
  list-style: none;
  gap: 16px;
}

.our-process__task {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task__block-icon {
  margin-bottom: 15px;
}

.task__icon {
  display: block;
  width: 117px;
  height: 102px;
}

.task__block-information {
  text-align: center;
  margin-bottom: 10px;
}

.task__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: var(--font-weight);
  margin-bottom: 10px;
  color: var(--accent-color);
}

.task__description {
  padding: 0 40px;
}

.content__marble-staircase {
  justify-content: end;
  background-image: url('../image/marble-staircase.jpg');
}